<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940943694336-nbvv3m7mndcq93qc22bdmlo1rq3eqgct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940943694336-nbvv3m7mndcq93qc22bdmlo1rq3eqgct</string>
	<key>API_KEY</key>
	<string>AIzaSyBbsa8mtIlimxwhaDMwlNfQhpmWm1QNANA</string>
	<key>GCM_SENDER_ID</key>
	<string>940943694336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MiniShop</string>
	<key>PROJECT_ID</key>
	<string>minishop-c6b9e</string>
	<key>STORAGE_BUCKET</key>
	<string>minishop-c6b9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940943694336:ios:d47d7bcdc99e699f71d6e5</string>
	<key>DATABASE_URL</key>
	<string>https://minishop-c6b9e.firebaseio.com</string>
</dict>
</plist>